// Specific CSS for your home-page
.home-banner {
  background: linear-gradient(to left, rgba(255,200,100,0), rgba(255,200,200,1)), url("gym.jpg");
  //background-image: linear-gradient url("gym.jpg");
  background-size: cover !important;
  height: 500px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover !important;



}
